<nav>
  <div id="nav-div">
    <img src="../assets/images/logo.png" alt="logo" class="nav-img-logo" />
    <div class="menu-icon-div" (click)="toggleMenu()">
      <img src="../assets/images/controls/menu.png" />
    </div>
    <ul *ngIf="menuShow || width >= 1090">
      <li (click)="toggleMenu()" routerLink="/tippspiel" routerLinkActive="nav-item-active"><div>Tippspiel</div></li>			
      <li (click)="toggleMenu()" routerLink="/rangliste" routerLinkActive="nav-item-active"><div>Rangliste</div></li>
      <li (click)="toggleMenu()" routerLink="/teams" routerLinkActive="nav-item-active"><div>Teams</div></li>	
      <li (click)="toggleMenu()" class="only-mobile" routerLink="/login" routerLinkActive="nav-item-active" *ngIf="!authenticationService.isLogged()"><div>Login</div></li>	
      <li (click)="toggleMenu()" class="only-mobile" routerLink="/logout" routerLinkActive="nav-item-active" *ngIf="authenticationService.isLogged()"><div>Logout</div></li>
  	</ul>
    <div *ngIf="!authenticationService.isLogged()" class="login-container">
      <button routerLink="/login">Anmelden</button> 
    </div>
    <div *ngIf="authenticationService.isLogged()" class="title-container-abmelden">
      Angemeldet als: <span id="title-container-username">{{authenticationService.username}}</span>
      <a id="pbAbmelden" routerLink="logout">Abmelden</a>
    </div>
  </div>
</nav>
<div class="content-wrap">
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div class="footer-copyright">
    Copyright© 2020 Emanuel Foster. All rights reserved.
  </div>
</footer>